Body {
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: #b21e31;
}

/* Navbar */
.navbar {
  background-color: #b21e31;
}

.navbar a {

  font-weight: 800;
  font-size: larger;
  font-style: oblique;
  padding-left: 10vw;
  padding-left: 15vw;
  text-align: center;
  color: #000000;
}

.navbar a:hover {

  font-weight: 800;
  font-size: larger;
  font-style: oblique;
  padding-left: 10vw;
  padding-left: 15vw;
  text-align: center;
  color: #b21e31;
  background-color: #000000;
}

.navbar a:active {

  font-weight: 800;
  font-size: larger;
  font-style: oblique;
  padding-left: 10vw;
  padding-left: 15vw;
  text-align: center;
  color: #b21e31;
  background-color: #000000;
}




/* about page */
.about{
  table-layout: fixed;
  width: 75vw;
}

/* services page */
.example1,.example2,.example3{
  border: #b21e31 1px dotted;
  height: 30vh;
  width: 20vw;
  flex-grow: inherit;
}

/* Logo */
.App-logo {
  margin-top: 6vh;
  height: 80vh;
  width: 100vw;
  pointer-events: none;
  opacity: 0.3,

  
}

/* carousel */
.d-block{
  height: 60vh;
  width: 100vw;}



